*{
    padding: 0;
    margin: 0;
}
body{
    color: #000000;
    line-height: 1.75rem;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Urbanist', sans-serif;
}
.main-wrap{
    display: flex;
    max-width: 1313px;
    margin: 0 auto;
    padding: 0 15px;
}
/* Bacground Image Section */
.img-bacground{
    width: 50%;
    background: url(../img/Header\ Image.jpg) center center no-repeat;
    background-size: cover;
}
.img-bacground img{
    margin: 19px 52px;
}
.content{
    width: 40%;
    margin-left: 122px;
}
/* Src Section */
.src{
    margin-top: 52px;
    margin-bottom: 130px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.src-img{
    margin-left: 14px;
}
/* Hero Section */
.main-content h1{
    color: #29005F;
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 28px;
    margin-right: 13px;
}
.main-text{
    max-width: 382px;
    margin-bottom: 28px;
}
/* Form section */
.form{
    height: 44px;
    display: flex;
    margin-bottom: 74px;
}
.form input{
    width: 50%;   
    border: 1px solid #29005F;
    border-radius: 5px;
    margin-right: 6px;
    padding: 14px 10px;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
}
.form button{
    width: 30%;
    color: #FFFFFF;
    background: #29005F;
    border-radius: 10px;
}
/* Contact + Location section */
.contact-info{
    display: flex;
    margin-bottom: 50px;
}
.contact-info div{
    max-width: 50%;
}
.contact-info div h5{
    color: #29005F;
    font-weight: 800;
    font-size: 1rem;
    line-height: 1.5rem;
}
.contact-info div a{
    color: #000000;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    text-decoration: none;
}
/* Adaptive */
@media(max-width:900px){
    .main-content h1{
        color: #29005F;
        font-size: 2rem;
        line-height: 2.5rem;
        margin-bottom: 28px;
        margin-right: 13px;
    }
    .main-content p{
        font-size: 1rem;
        line-height: 1.5rem;
    }
}
@media (max-width:800px){
    .main-wrap{
        padding: 0;
        flex-direction: column;
        align-items: center;
    }
    .img-bacground{
        height: 100%;
        width: 100%;
        margin-bottom: 32px;
        text-align: center;
        background-size: cover;
    }
    .img-bacground img{
        margin-top: 30px;
        margin-bottom: 750px;
    }
    .content{
        padding: 12px;
        margin: 0;
    }
    .src{
        margin-bottom: 32px;
        width: 370px;
        justify-content: center;
    }
    .src-img{
        margin-left: 0;
    }
    .main-content{
        width: 400px;
    }
    .main-content h1{
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.5rem;
        margin-right: 0;
    }
    .main-content p{
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .main-text{
        width: 90%;
    }
    .main-text p{
        margin-bottom: 8px;
    }
    .form{
        height: 96px;
        flex-direction: column;
    }
    .form input{
        height: 50%;
        width: 85%;
        margin-bottom: 8px;
    }
    .form button{
        height: 200%;
        width: 90%;
    }
    .contact-info{
        flex-direction: row;
    }
    .contact-info div{
        margin-bottom: 20px;
    }
    .contact-info div a{
        color: #000000;
        text-decoration: none;
    }
}
@media(max-width:700px){
    .main-content{
        width: 350px;
    }
    .src{
        width: 300px;
    }
}
@media(max-width:600px){
    .contact{
        padding: 0;
    }
    .main-content{
        width: 300px;
    }
    .src{
        width: 250px;
    }
}
@media(max-width:500px){
    .main-wrap{
        align-items: baseline;
    }
    .main-content{
        width: 500px;
    }
    .main-content h1{
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .src{
        width: 500px;
    }
}
@media(max-width:460px){
    .main-content{
        width: 450px;
    }
    .src{
        width: 450px;
    }
}
@media(max-width:420px){
    .main-content{
        width: 400px;
    }
    .src{
        width: 400px;
    }
}
@media(max-width:390px) {
    .main-wrap{
        align-items: baseline;
        padding: 0;
        flex-direction: column;
    }
    .img-bacground{
        height: 100%;
        width: 100%;
        margin-bottom: 32px;
        text-align: center;
    }
    .img-bacground img{
        margin-top: 30px;
        margin-bottom: 354px;
    }
    .content{
        padding: 12px;
        margin: 0;
    }
    .src{
        margin-bottom: 32px;
        width: 370px;
        justify-content: center;
    }
    .src-img{
        margin-left: 0;
    }
    .main-content{
        width: 390px;
    }
    .main-content h1{
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.5rem;
        margin-right: 0;
    }
    .main-content p{
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .main-text{
        width: 90%;
    }
    .main-text p{
        margin-bottom: 8px;
    }
    .form{
        height: 96px;
        flex-direction: column;
    }
    .form input{
        height: 50%;
        width: 85%;
        margin-bottom: 8px;
    }
    .form button{
        height: 200%;
        width: 90%;
    }
    .contact-info{
        flex-direction: column;
    }
    .contact-info div{
        margin-bottom: 20px;
    }
    .contact-info div a{
        color: #000000;
        text-decoration: none;
    }
}